body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.highlightNode {
  stroke: rgb(102, 102, 102);
  stroke-width: 3;
}

.highlightLine {
  stroke: orange;
  stroke-width: 3;
}

div.tooltip {
  color: black;
  position: absolute;
  /* text-align: center; */
  /* width: 80px; */
  /* height: 35px; */
  padding: 2px;
  font: 13px sans-serif;
  background: rgb(252, 252, 251);
  border: 1px solid black;
  pointer-events: none;
  border-radius: 5px;
}

.layout {
  background-color: #e9ecef;
}

/* ::-webkit-scrollbar {
  display: inline;
} */

.highlightRect {
  stroke: orange;
  stroke-width: 5px;
}

.root-node > circle {
  opacity: 0;
  fill: white;
  stroke-width: 0;
}

.rd3t-leaf-node > circle,
.rd3t-node > circle {
  fill: darkgray;
}
path.root-path-class {
  opacity: 0;
  stroke-width: 0;
  stroke: white;
}

.thumb-text {
  background-color: rgb(214, 213, 213);
  height: 15px;
  line-height: 15px;
  width: 25px;
  text-align: center;
  border-radius: 15%;
  cursor: grab;
  font-size: 8px;
}

.example-thumb.active {
  outline: none;
}

.example-thumb.active > .thumb-text {
  outline: none;
  background-color: rgb(179, 178, 178);
}

.horizontal-slider {
  height: 35px;
  width: 100px;
  float: right;
  margin-right: 10px;
  /* background-color: grey; */
}
